@import url("https://fonts.googleapis.com/css2?family=Abel&family=Junge&family=Liu+Jian+Mao+Cao&family=Luckiest+Guy&family=Poppins&display=swap");
:root {
  /* lengths sm*/
  --lengths-sm-1: 2px;
  --lengths-sm-2: 4px;
  --lengths-sm-3: 8px;
  --lengths-sm-4: 10px;
  /*lengths md*/
  --lengths-md-2: 16px;
  --lengths-md-3: 24px;
  --lengths-md-3: 32px;
  /* lengths lg */
  --lengths-lg-1: 100px;
  --lengths-lg-2: 250px;
  --lengths-lg-3: 500px;
  /* fonts */
  --font1: "Junge", serif;
  --font2: "Liu Jian Mao Cao", cursive;
  --font3: "Luckiest Guy", cursive;
  --font4: "Poppins", sans-serif;
  --font5: sans-serif;
  /* accent colors */
  --accent-1: #81bec3;
  --accent-2: #e5a8a8;
  --accent-3: #f9ddab;
  /* main base mono color */
  --monochrome-1: white;
  --monochrome-2: #edf0f2;
  --monochrome-3: #6b6e70;
  --monochrome-4: #474b4f;
  --monochrome-5: black;
  /* transparent black */
  --transparent-25: rgba(0, 0, 0, 0.25);
  --common-shadow: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  --outline-shadow: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));

  --custom-gradient: linear-gradient(
      to top left,
      transparent,
      rgba(255, 153, 150, 0),
      var(--accent-1)
    ),
    linear-gradient(
        to top right,
        transparent,
        rgba(255, 153, 150, 0),
        var(--accent-2)
      )
      var(--accent-3);

  --loading-width: 2000px;
  --loading-speed: 1s;

  font-family: var(--font4);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-palette-4);
  background-color: var(--color-palette-3);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--custom-gradient);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.rainbow-border {
  box-shadow: 0 0 0 var(--lengths-sm-3) var(--accent-1),
    0 0 0 calc(var(--lengths-sm-3) * 2) var(--accent-2),
    0 0 0 calc(var(--lengths-sm-3) * 3) var(--accent-3);
}

.loading {
  opacity: 0.2;
  border-radius: var(--lengths-sm-1);
  background: linear-gradient(90deg, gray, lightgray, gray);
  background-size: var(--loading-width) auto;
  animation: loadscroll linear infinite var(--loading-speed);
  user-select: none;
}

.loading,
.loading * {
  color: transparent;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
